brotlipy==0.7.0
ca-certificates==2021.7.5
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
click==8.0.1
cryptography==3.4.7
dataclasses==0.8
flask==1.1.2
gunicorn==20.1.0
idna==3.2
importlib-metadata==4.8.1
itsdangerous==2.0.1
jinja2==3.0.1
libcxx==12.0.0
libffi==3.3
markupsafe==2.0.1
ncurses==6.2
openssl==1.1.1l
pip==21.2.4
pycparser==2.20
pyopenssl==20.0.1
pysocks==1.7.1
python==3.9.7
readline==8.1
requests==2.26.0
setuptools==58.0.4
six==1.16.0
sqlite==3.36.0
tk==8.6.10
tzdata==2021a
urllib3==1.26.6
werkzeug==2.0.1
wheel==0.37.0
xz==5.2.5
zipp==3.5.0
zlib==1.2.11
