body, html {
    height: 100%;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/homepyghack.jpg");
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  text-align: center;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, #point-label {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #111;
}

.active {
background-color:#990000;
} */
body {
    background-color:white;
}
h2,h3,h4,h5,h6,p {
    text-align: center;
    color: black;
}
h1 {
    text-align: center;
}
 
* {
    box-sizing: border-box;
	/* the code for the navigation bar */
}
.column {
    float: left;
    padding: 10px;
    height: 300px;
}

.left {
    width: 35%;
}

.right {
    width: 65%;
} 
.row:after {
    content: "";
    display: table;
    clear: both;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Creates 2 columns */

.card-img, .card-img-top {
    border-radius: 10%;
    width: 100%;
    border-top-left-radius: 10%!important;
    border-top-right-radius: 10%!important;
}
